<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Posts</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1e3be9b4ce.js" crossorigin="anonymous"></script>
    <!-- /fontawesome -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app" v-cloak>
        <h1 class="main-title">Social Posts</h1>

        <div id="container" class="posts-list">
            <!-- post -->
            <div class="post" v-for="(post, index) in users">
                <!-- header -->
                <div class="post__header">
                    <div class="post-meta">                    
                        <div class="post-meta__icon">
                            <img class="profile-pic" :src="post[index].picture.thumbnail" :alt="post[index].name.first">                    
                        </div>
                        <div class="post-meta__data">
                            <div class="post-meta__author">{{ post[index].name.first}} {{ post[index].name.last}}</div>
                            <div class="post-meta__time">{{ post.postDate }}</div>
                        </div>                    
                    </div>
                </div>
                <!-- /header -->
                <!-- text -->
                <div class="post__text">Placeat libero ipsa nobis ipsum quibusdam quas harum ut. Distinctio minima iusto. Ad ad maiores et sint voluptate recusandae architecto. Et nihil ullam aut alias.</div>
                <!-- /text -->
                <!-- image -->
                <div class="post__image">
                    <img :src="post.postPicture" alt="">
                </div>
                <!-- /image -->
                <!-- footer -->
                <div class="post__footer">
                    <!-- likes -->
                    <div class="likes js-likes">
                        <!-- button -->
                        <div class="likes__cta">
                            <a class="like-button  js-like-button" @click="addLike(index)" :class="post.hasClicked ? 'liked': ''">
                                <i class="like-button__icon fas fa-thumbs-up" aria-hidden="true"></i>
                                <span class="like-button__label" >Mi Piace</span>
                            </a>
                        </div>
                            <!-- /button -->
                        <!-- counter -->
                        <div class="likes__counter" v-if="post.likesNum > 1">
                            Piace a <b  class="js-likes-counter">{{post.likesNum}}</b> persone
                        </div>
                        <div class="likes__counter" v-if="post.likesNum === 1">
                            Piace a <b  class="js-likes-counter">{{post.likesNum}}</b> persona
                        </div>
                        <div class="likes__counter" v-if="post.likesNum <= 0">
                            Non piace a nessuno
                        </div>
                        <!-- /counter -->
                    </div> 
                    <!-- /likes -->
                </div>         
                <!-- /footer -->   
            </div>
            <!-- /post -->
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>